.underlay {
  color: black;
  font-family: 'RobotoMono';
  font-size: 10pt;
  padding-top: 0;
  line-height: 20px;
  background: white;
}

html {
  background: white;
}

.apply {
  line-height: 22px;
}

.company-info li{
  line-height: 22px;
}

.photo {
  width: 150px;
  height: 150px;
}

.name-photo {
  display: inline-block;
  margin-left: 70px;
}

.position {
  display: inline-block;
  margin-left: 160px;
}

.upper-block {
  width: 100%;
  height: 250px;
}

a {
  color: black
}

.name {
  font-size: 16pt;
}

.sub-title {
  font-size: 14pt;
}

.inner-block {
  padding-top: 0;
}

.skills, .experience, .education {
  line-height: 30px;
}

.sub-title {
  display: block;
  max-width: 1000px;
  margin-top: 10px;
}

.red, .blue {
  min-width: 40px;
  float: left;
}

.green, .gold {
  color: black;
}

.contacts {
  text-align: left;
  margin-left: 50px;
}