.underlay {
  color: black;
  font-family: 'RobotoMono';
  font-size: 10pt;
  padding-top: 0;
  line-height: 20px;
  background: white;
}


html {
  background: white;
}

.apply {
  line-height: 22px;
}

.company-info li{
  line-height: 22px;
}

.photo {
  width: 150px;
  height: 150px;
}

.name-photo {
  display: inline-block;
  margin-left: 0;
}

a {
  color: black
}

.name {
  font-size: 16pt;
}

.sub-title {
  font-size: 14pt;
}

.inner-block {
  padding-top: 0;
}

.skills, .experience, .education {
  line-height: 30px;
}

.sub-title {
  display: block;
  max-width: 1000px;
  margin-top: 10px;
}

.red, .blue {
  min-width: 40px;
  float: left;
}

.green, .gold {
  color: black;
}

.contacts {
  text-align: left;
  margin-left: 50px;
}

@media print {
  .page-break {
    break-before: page;
    page-break-before: always;
  }

  /*@page {*/
  /*  margin: 12mm 15mm;*/
  /*}*/

  .inner-block {
    padding: 0;
    margin: 0;
  }

  .underlay {
    padding: 0;
    margin: 0;
  }

  .page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    break-after: page;
    page-break-after: always;
    padding: 20px 25px;
  }
}