@font-face {
    font-family: RobotoMono;
    src: url("RobotoMono-Light.ttf")
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}

html {
    background-color: #282828;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

a {
    text-decoration: none;
    color: #edeeef;
}

a:active {
    text-decoration: none;
}

.underlay {
    display: flex;
    flex-direction: row;
    background-color: #303030;
    color: #edeeef;
    font-family: 'RobotoMono';
    font-size: 14pt;
    padding: 0;
    max-width: 1250px;
    justify-content: center;
}
.inner-block {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.description span {
    display: flex;
    flex-direction: row;
}

.upper-block {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.photo {
    display: block;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
}

img {
    width: 107%;
    margin: -20px 0px;
}

.name-photo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.name {
    font-size: 24pt;
    padding-left: 36px;
    text-transform: uppercase;
    border-left: 1px solid grey;
}

.apply {
    padding-left: 30px;
    margin: 0;
}

.sub-title {
    font-size: 20pt;
    display: flex;
    flex-direction: row;
    margin: 3px;
}

ul {
    list-style-type: none;
}

.apply {
    padding: 0;
    line-height: 30px;
}

.fas, .fab {
    color: #f7612e;
    padding-right: 15px;
    font-size: 16pt;
}

hr {
    border: none;
    height: 3px;
    background-color:#f7612e;
    margin: 20px;
}

.skills, .experience, .education {
    padding-left: 30px;
}

.skills .apply li {
    padding-left: 30px;
}
.skills .apply {
    margin: 4px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.blue {
    color: #4286f4;
}
.red {
    color: #f7612e;
}

.green {
    color: #009149;
}

.gold {
    color: #FECC29;
}


.company-info li{
    display: flex;
    flex-direction: row;
    line-height: 30px;
}

.company-info {
    width: 85%;
}

@media (max-width: 600px) {
    .description {
        flex-direction: column !important;
    }
}

